
body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.5rem;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background: url(/img/rosie-illo.webp) no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5 {
  margin-top: 0;
}

h2, h3 {
  font-weight: 300;
}

.bold {
  font-weight: 500;
}

.image {
  display: block;
  background: url(/rozandjim.webp) no-repeat center center;
  background-size: cover;
  width: 15vw;
  min-height: 100%;
}

.info {
  margin: 1rem;
  border: 1px dashed #df5c35;
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  flex-grow: 1;
  background-color: white;
  box-shadow: 0px 8px 24px -2px rgba(0, 0, 0, 0.1);
  max-width: 680px;
  margin: auto;
  display: flex;
  min-height: 70vh;
}

.grey {
  color:#60646e;
}
