
body {
  text-align: center;
  padding: 2rem;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

h2, h3 {
  font-weight: 300;
}

.bold {
  font-weight: 500;
}

.image {
  background: url(/rozandjim.webp) no-repeat center center;
  width: 10vw;
  min-height: 100%;
}

.container {
  background-color: white;
  box-shadow: 0 4px -2px 24px rgba(0,0,0,.1);
  max-width: 720px;
  margin: auto;
}

.grey {
  color:#60646e;
}
