body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.5rem;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background: url(/img/rosie-illo.jpg) no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
  color: #002140;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

h1,
h2,
h3 {
  font-weight: 400;
}

p {
  font-size: 1.13rem;
  margin-top: 0;
  margin-bottom: 2.5rem;
  color: #5e7386;
}

.bold {
  font-weight: 400;
}

.purp,
a {
  color: #5a6db1;
}

/* .nav,
.nav a,
.nav a:visited {
  color: #002140;
  text-decoration: none;
} */

.nav {
  margin-bottom: 1.5rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.l-a {
  text-align: left;
}

.image {
  display: block;
  background: url(/rozandjim.webp) no-repeat center center;
  background-size: cover;
  width: 15vw;
  min-height: 100%;
}

.m-w {
  max-width: 580px;
}

.info {
  margin: 1rem;
  border: 1px dashed #486fba;
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  flex-grow: 1;
  background-color: white;
  box-shadow: 0px 8px 24px -2px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 780px;
  margin: auto;
  display: flex;
  min-height: 70vh;
}

.grey {
  color: #5e7695;
}

/* Accordion Header */
.accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 8px 16px;
  background-color: #eff5f6;
  border: 1px solid #ccd7d9;
  border-radius: 5px;
}

.accordion:hover {
  background-color: #d8e2e4;
}

.accordion-title {
  font-size: 1.2em;
  margin: 0;
}

.accordion-icon {
  font-size: 1.5em;
  transition: transform 0.2s ease-in-out;
}

.accordion-icon.open {
  transform: rotate(45deg); /* Rotate for "minus" when open */
}

/* Accordion Content */
.accordion-content {
  display: none; /* Hidden by default */
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background-color: #fff;
}

#mc_embed_signup {
  font: 14px Helvetica, Arial, sans-serif;
  padding-top: 0.5rem;
  clear: left;
  width: 100%;
}

.address {
  min-width: 160px;
  margin-bottom: 0;
}

.highlight {
  color: #002140;
}

.address-col {
  padding: 1rem;
  background-color: #eff5f6;
  border-radius: 8px;
  margin-bottom: 2.5rem;
}
.address-col iframe {
  width: 100%;
  max-width: 80vw;
  border-radius: 4px;
  margin-right: 20px;
}

#mc_embed_signup .button {
  min-height: 44px;
}

@media (max-width: 600px) {
  .address-col {
    flex-wrap: wrap;
  }
  .info,
  body {
    padding: 16px 12px;
  }
  .info {
    margin: 0.75rem;
    border: none;
  }
  .address-col iframe {
    margin-right: 0;
    margin-bottom: 16px;
  }
}
